
<hello name="{{ name }}"></hello>


<p>
  Start editing to see some magic happen :)<br><br>

Et oui, en commençant à éditer, on voit quelque chose de magique s'opérer ;)<br><br>
Passer la souris sur la fenêtre et choisissez le jour ci-dessous pour connaître la semaine, ça vous permettra déjà de savoir quand vous êtes. <br><br>

<input type="week" name="semaine"><br><br>

Cette application web est créée avec Angular et elle commence le 14/09/2019.  <br><br>

Aujourd'hui, nous sommes le  <br><br><input type="datetime-local" name="date du jour">
 <br><br>

</p>
